.titles {
  margin-left: 250px;
}

.products {
    display: flex;
    &_child{
        margin-left: 50px;
    }
    // h4{
    //     margin-top: 20px;
    //     margin-left: 80px;
    // }
  img {
    width: 150px;
    height: 150px;
  }
}

.quantity{
   width: 200px;
   margin-right: 130px;

}

.products, .products_child, .quantity, .titles{
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    column-gap: 0.5rem;
}
.products_child{
  width: 30px;
}

.total{
 margin-left: 230px;
 
}